body {
    margin: 0;
    padding: 0;
}

#logo {
    width: 50px;
}

header {
    background-color: #141f31;
    height: 10px;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    border: 0;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: pulse 5s infinite;
    
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#scroll {
    width: 6vb;
    filter: brightness(0) invert(1);
}

main {
    width: 100%;
    background-color: #172335;
    margin: 0;
    background-image: linear-gradient(#141f31, #304056);
    padding: 0;
    height: 100dvh;
    padding-top: 70px;
    text-align: center;
}

h1 {
    font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}



p1 {
    font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    color: rgb(185, 183, 183);
    /* font-size: 40px; */
    max-width: 150px;
    margin-top: 0;
    font-size: 23px;
}

#container{
    align-content: center;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#packages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10dvh;
    flex-wrap: wrap;

    font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

#info {
    background-color: #35475f;
    width: 30%;
    height: 500px;
    border-radius: 20px;
}

html{
    overflow-x: hidden;
    background-color: #141f31;
}